3a01577f_E811075_5475a938.png
dev.py
favicon.ico
main.py
main.ui
Screenshot_2025-01-28-11-19-22-055_com.tencent.tmgp.pubgmhd.jpg
sync.py
smb_sync/
Ui_main.py
VID_20220923_190558.mp4
watchdir.py
备份使用场景.txt
bak/
.idea
__pycache__/